In [53]:
import re
import pandas as pd

In [390]:
# Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon. 

text='Python Exercise, PHP exercise.'
pattern="[\s,.]"
result=re.sub(pattern,':',text)
print(result)

Python:Exercise::PHP:exercise:

In [180]:
# Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) 
# from the columns except words.
# As here is only one column so we can also use Series Data Structure to the store the data.

In [396]:
dict1={'SUMMARY':['hello, world!','XXXXX test','123four,five:;six...']}
df=pd.DataFrame(dict1)
df

                SUMMARY
0         hello, world!
1            XXXXX test
2  123four,five:;six...

In [399]:
pattern="[,!:;...]"
for x in df['SUMMARY']:
    print(re.sub(pattern,"",x))

hello world
XXXXX test
123fourfivesix

In [306]:
# Question 3- Create a function in python to find all words that are at least 4 characters long in a string.
# The use of the re.compile() method is mandatory.

def words(find):
    text="My Name is Pawan and what is your Name"
    fix=re.compile(find)
    result1=fix.findall(text)
    print(result1)

In [215]:
words("\w{4}")

['Name', 'Pawa', 'what', 'your', 'Name']

In [307]:
#Question 4- Create a function in python to find all three, four, and five character words in a string. 
# The use of the re.compile() method is mandatory.

def character(find):
    text="Rahul Dravid was the classic batsman of indian team"
    fix=re.compile(find)
    result1=fix.findall(text)
    print(result1)

In [308]:
character(r'\b\w{3,5}\b')

['Rahul', 'was', 'the', 'team']

In [309]:
# Question 5- Create a function in Python to remove the parenthesis in a list of strings. 
# The use of the re.compile() method is mandatory.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


def re_move(find):
    text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello (Data Science World)","Data (Scientist)"]
    fix=re.compile(find)
    for t in text:
        print(fix.sub("",t))

In [314]:
re_move("[()]")

example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [311]:
# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular
#Expression.
# Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
# pected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
# Note- Store given sample text in the text file and then to remove the parenthesis area from the text.


text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello (Data Science World)","Data (Scientist)"]
pattern ="\([^)]+\)"
for i in text:
    print(re.sub(pattern,"",i))

example
hr@fliprobo
github
Hello
Data

In [41]:
# Question 7- Write a regular expression in Python to split a string into uppercase letters.
# Sample text: “ImportanceOfRegularExpressionsInPython”
# Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

text= "ImportanceOfRegularExpressionsInPython"
pattern='(\w)([A-Z])'
result=re.sub(pattern,r'\1 \2',text)
print(result)

Importance Of Regular Expressions In Python

In [48]:
# Question 8- Create a function in python to insert spaces between words starting with numbers.
# Sample Text: "RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

text= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern='(\w)([0-9])'
result=re.sub(pattern,r'\1 \2',text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [50]:
# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
# Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
# Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

text= "RegularExpression1IsAn2ImportantTopic3InPython"
pattern='(\w)([0-9])'
result=re.sub(pattern,r'\1 \2 ',text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [54]:
# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract 
#  the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
# Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df.head(20)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011
15,Brazil,Latin America and Caribbean,16,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961
17,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484
19,United Arab Emirates,Middle East and Northern Africa,20,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743

In [55]:
df.shape

(158, 12)

In [62]:
pattern='(\w{6})'
for i in df['Country']:
    df['first_five_letters']=df['Country'].str.extract(pattern) 
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN,NaN

In [57]:
#df1=pd.DataFrame()
#df1['first_five_letters']=df['first_five']
#df1

    first_five_letters
0               Switze
1               Icelan
2               Denmar
3               Norway
4               Canada
..                 ...
153             Rwanda
154                NaN
155                NaN
156             Burund
157                NaN

[158 rows x 1 columns]

In [192]:
# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and 
# underscores.

text="MY name is PAWAN and date_of_BIRTH is 1983@@"
pattern=r'[a-zA-Z_0-9]+'
result=re.findall(pattern,text)
print(result)

['MY', 'name', 'is', 'PAWAN', 'and', 'date_of_BIRTH', 'is', '1983']

In [78]:
# Question 12- Write a Python program where a string will start with a specific number. 

text="823MY name is PAWAN and date_of_BIRTH is & \n 1983@@"
pattern='^8'
result=re.search(pattern,text)
if result==True:
        print("True ",result)
else:
    print("False " ,result)

False  <re.Match object; span=(0, 1), match='8'>

In [69]:
# Question 13- Write a Python program to remove leading zeros from an IP address

ip_add='255.80.20.06'
pattern='[0]*'
result=re.sub(pattern,'',ip_add)
print(result)

255.8.2.6

In [227]:
# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number 
# and year stored in a text file.
# Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control 
# were handed over to the leaders of the Country’.
# Expected Output- August 15th 1947

text ='On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
pattern='A.+[0-9]'
result=re.search(pattern,text)
print(result)

<re.Match object; span=(3, 19), match='August 15th 1947'>

In [264]:
# Question 15- Write a Python program to search some literals strings in a string. 
# Sample text : 'The quick brown fox jumps over the lazy dog.'
# Searched words : 'fox', 'dog', 'horse'

literals ='The quick brown fox jumps over the lazy dog'
pattern='fox','dog','horse'

for i in pattern:
    if re.search(i,literals):
        print("Literals Found in string :",i,"\n")
    else:
        print('Literals Not Match String : ',i,"\n")

Literals Found in string : fox

Literals Found in string : dog

Literals Not Match String :  horse

In [266]:
# Question 16- Write a Python program to search a literals string in a string and also find the location within the original
# string where the pattern occurs
# Sample text : 'The quick brown fox jumps over the lazy dog.'
# Searched words : 'fox'

literals ='The quick brown fox jumps over the lazy dog'
pattern='fox'
result=re.search(pattern,literals)
print(result)

<re.Match object; span=(16, 19), match='fox'>

In [283]:
# Question 17- Write a Python program to find the substrings within a string.
# Sample text : 'Python exercises, PHP exercises, C# exercises'
# Pattern : 'exercises'

text='Python exercises PHP exercises C# exercises'
pattern='exercises'
result=re.findall(pattern,text)
print(result)

['exercises', 'exercises', 'exercises']

In [296]:
# Question 18 -Write a Python program to find the occurrence and position of the substrings within a string.

text='Python exercises PHP exercises C# exercises'
pattern='exercises'
result=re.finditer(pattern,text)
for i in result:
    print("Position of the Search String : ", i,"\n")
    print("Search String                 : ", i.group(),"\n")

Position of the Search String :  <re.Match object; span=(7, 16), match='exercises'>

Search String                 :  exercises

Position of the Search String :  <re.Match object; span=(21, 30), match='exercises'>

Search String                 :  exercises

Position of the Search String :  <re.Match object; span=(34, 43), match='exercises'>

Search String                 :  exercises

In [412]:
# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
# 
date="1983-06-28"
pattern = '(\d{4})-(\d{1,2})-(\d{1,2})'
Updated_Date_Format=re.sub(pattern,'\\3-\\2-\\1',date)
print("Old Date format :", date,"\n")
print("New date format :", Updated_Date_Format)

Old Date format : 1983-06-28

New date format : 28-06-1983

In [460]:
# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. 
# The use of the re.compile() method is mandatory.

text="20.32 100.25 45.1678 78.42 55.49 62.155"
pattern=r'\d+\.\d{1,2}'
fix=re.compile(pattern)
result=fix.findall(text)
result

['20.32', '100.25', '45.16', '78.42', '55.49', '62.15']

In [353]:
# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

target_string="Virat Kohli is scored 100 centuries in ODI and arround 40 in Test Cricket" 
pattern ='\d+'
result=re.finditer(pattern,target_string)
for i in result:
    print("Number", i.group(),"\n")
    print("Position ", i.start(),"\n")

Number 100

Position  22

Number 40

Position  55

In [356]:
# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
# Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
# Expected Output: 950


target_string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern='\d+'
result=re.findall(pattern,target_string)
number=map(int,result)
largest=max(number)
print(largest)

950

In [364]:
# Question 23- Create a function in python to insert spaces between words starting with capital letters.
# Sample Text: “RegularExpressionIsAnImportantTopicInPython"
# Expected Output: Regular Expression Is An Important Topic In Python

string= 'RegularExpressionIsAnImportantTopicInPython'
pattern='(\w)([A-Z])' 
result=re.sub(pattern,r'\1 \2',string)
print(result)

Regular Expression Is An Important Topic In Python

In [386]:
# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

text ='Rohit sharma IS veRY Famous As HitMan'
pattern='[A-Z]+[a-z]+'
result=re.findall(pattern,text)
print(result)

['Rohit', 'Famous', 'As', 'Hit', 'Man']

In [395]:
# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
# Sample Text: "Hello hello world world"
# Expected Output: Hello hello world

string1= 'Hello hello world world'
pattern=r'\b(\w+)(?:\W+\1\b)+'
result=re.sub(pattern,r'\1',string1)
print(result)

Hello hello world

In [411]:
# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

text='abcd1 hello world india1947'
pattern=r'[A-Za-z0-9]+$'
result=re.findall(pattern,text)
print(result)

['india1947']

In [423]:
#Question 27- Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
#               USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered 
       USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern = '#\w+'
result=re.findall(pattern,text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [439]:
# Question 28- Write a python program using RegEx to remove <U+..> like symbols Check the below sample text, there are 
# strange symbols something of the sort <U+..> all over the place.You need to come up with a general Regex expression that 
# will cover all such symbols.

# Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting
#               #demonetization are all different party leaders"

# Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different
#                  party leaders

text  = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern=r'<U\+\w{4}>'
result=re.sub(pattern,'',text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [445]:
# Question 29- Write a python program to extract dates from the text stored in the text file.
# Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
# Note- Store this sample text in the file and then extract dates.

text= 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
pattern ='\d+\-\d+\-\d+'
result=re.findall(pattern,text)
print(result)

['12-09-1992', '15-12-1999']

In [454]:
# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
# The use of the re.compile() method is mandatory.

#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to 
#              the ArrayList and the ArrayList is trimmed accordingly."

#Expected Output: following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed 
#                 accordingly.

text = 'The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly'
pattern=r'\b\w{2,4}\b'
fix=re.compile(pattern)
result=fix.sub('',text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly