In [1]:
# First import all necessary libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By 
import time # it is used to pause any webpage for a particular time so that loading can be done seccessfully.
import warnings
warnings.filterwarnings('ignore')# it will ignore the unnecesary warnings

In [ ]:
# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#     You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#     This task will be done in following steps:
#    1. First get the webpage https://www.shine.com/
#    2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#    3. Then click the searchbutton.
#    4. Then scrape the data for the first 10 jobs results you get.
#    5. Finally create a dataframe of the scraped data

In [14]:
# Through this tool selenium will interact with browser and scrap the information
driver=webdriver.Chrome()

In [15]:
# Here we are sending a request to the server that hosting the webpage
driver.get('https://www.shine.com/')

In [16]:
# To search the Job Title 'Data Analyst'. 
# find_element is the function through which we find the required element.
# Here we are using 'By' keyword through which we use 'CLASS_NAME attribute to find the element.
# send_keys(), function is use to write the information in the box

designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [17]:
# To search the Job location 'Bangalore'.
# find_element is the function through which we find the required element.
# Here we are using 'By' keyword through which we use 'XPATH' attribute to find the element.
# absolute Xpath we used here because we are finding only one element.

location=driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [19]:
# use click button to search both of above element 
# click(), function we used here to click on any button

search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [20]:
# create empty list

job_title=[]
company_name=[]
experience=[]
loca=[]

In [21]:
# Save all scrap data into list and show

title_tags=driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]/h2/a')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Data Analyst , Senior Data Analyst , Data Analyst - Tec ...',
 'Data Analyst',
 'Lead Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Data Analyst (Need Immediate Joiner)',
 'Data Analyst (Need Immediate Joiner)',
 'Data Analyst (Power BI, Python, SQL)- Internal Audit do ...',
 'Clinical Data Analyst',
 'Data Analyst Opening']

In [22]:
len(job_title) # find length of the scrap elements

10

In [23]:
com_name=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in com_name[0:10]:
    company_name.append(i.text)
company_name

['appsoft solutions',
 'neo impex stainless private limited',
 'mackenzie modern it solutions priva...',
 'mackenzie modern it solutions priva...',
 'valenta bpo solutions pvt. ltd.',
 'r.s textile',
 'r.s textile',
 'talent leads hr solutions pvt ltd',
 'techno endura',
 'radhika enterprises']

In [24]:
len(company_name)

10

In [25]:
exp=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp[0:10]:
    experience.append(i.text)
experience

['0 to 4 Yrs',
 '9 to 14 Yrs',
 '5 to 9 Yrs',
 '5 to 9 Yrs',
 '4 to 5 Yrs',
 '0 to 4 Yrs',
 '0 to 4 Yrs',
 '3 to 8 Yrs',
 '0 to 1 Yr',
 '0 to 4 Yrs']

In [26]:
len(experience)

10

In [27]:
loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc[0:10]:
    loca.append(i.text)
loca

['Bangalore\n+8',
 'Bangalore\n+18',
 'Bangalore\n+8',
 'Bangalore\n+7',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+9',
 'Bangalore',
 'Bangalore\n+6',
 'Bangalore\n+12']

In [28]:
len(loca)

10

In [29]:
# Save all scrap data into DataFrame or we can say in a structured format.

data=pd.DataFrame({'Job Tile':job_title,'Location':loca,'Company Name':company_name,'Experience':experience})
data

,Job Tile,Location,Company Name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
2,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs
3,Lead Data Analyst,Bangalore\n+7,mackenzie modern it solutions priva...,5 to 9 Yrs
4,Data Analyst,Bangalore,valenta bpo solutions pvt. ltd.,4 to 5 Yrs
5,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
6,Data Analyst (Need Immediate Joiner),Bangalore\n+9,r.s textile,0 to 4 Yrs
7,"Data Analyst (Power BI, Python, SQL)- Internal...",Bangalore,talent leads hr solutions pvt ltd,3 to 8 Yrs
8,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
9,Data Analyst Opening,Bangalore\n+12,radhika enterprises,0 to 4 Yrs

In [ ]:
# Q2: Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location.You have to scrape 
#        the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
# This task will be done in following steps:
# 1. First get the webpage https://www.naukri.com/
# 2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
# 3. Then click the searchbutton.
# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By 
import time # it is used to pause any webpage for a particular time so that loading can be done seccessfully.
import warnings
warnings.filterwarnings('ignore')# it will ignore the unnecesary warnings

In [31]:
# Interact with the browser
driver=webdriver.Chrome()

In [32]:
# send request to the server that hosting webpage
driver.get("https://www.naukri.com/")

In [33]:
# To scrap Job_Title
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [34]:
# To scrap the location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [35]:
# Click on search button
clk_button=driver.find_element(By.CLASS_NAME,"qsbSubmit")
clk_button.click()

In [36]:
# create empty list

job_title=[]
company_name=[]
experience=[]
loca=[]

In [37]:
# Save all scrap data into list and show

title_tags=driver.find_elements(By.XPATH,'//div[@class=" row1"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
job_title

['Data Scientist, Marketing',
 'Sr. Data Scientist',
 'Data Scientist',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist-Senior Associate - P&T Labs',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Senior Associate']

In [38]:
len(job_title)

10

In [39]:
com_name=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in com_name[0:10]:
    company_name.append(i.text)
company_name

['Coursera',
 'Essenware',
 'Essenware',
 'PwC Service Delivery Center',
 'Infosys',
 'Tech Mahindra',
 'PwC Service Delivery Center',
 'Lericon Informatics',
 'Ericsson',
 'Baker Hughes']

In [40]:
len(company_name)

10

In [41]:
exp=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in exp[0:10]:
    experience.append(i.text)
experience

['4-6 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '4-6 Yrs',
 '4-8 Yrs',
 '6-10 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '9-14 Yrs']

In [42]:
len(experience)

10

In [43]:
loc=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in loc[0:10]:
    loca.append(i.text)
loca

['Bangalore/Bengaluru, Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Hyderabad, Bengaluru',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Hybrid - Hyderabad, Pune, Bengaluru',
 'Mumbai, Hyderabad, Bengaluru',
 'Mumbai, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru']

In [44]:
len(loca)

10

In [45]:
data=pd.DataFrame({'Job Tile':job_title,'Location':loca,'Company Name':company_name,'Experience':experience})
data

,Job Tile,Location,Company Name,Experience
0,"Data Scientist, Marketing","Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Coursera,4-6 Yrs
1,Sr. Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
3,Sr. Data Scientist,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,4-6 Yrs
4,Data Scientist,"Hybrid - Hyderabad, Pune, Bengaluru",Infosys,4-8 Yrs
5,Data Scientist-Senior Associate - P&T Labs,"Hybrid - Hyderabad, Pune, Bengaluru",Tech Mahindra,6-10 Yrs
6,Data Scientist,"Mumbai, Hyderabad, Bengaluru",PwC Service Delivery Center,3-8 Yrs
7,Data Scientist,"Mumbai, Bengaluru, Delhi / NCR",Lericon Informatics,2-6 Yrs
8,Data Scientist,Bengaluru,Ericsson,0-3 Yrs
9,Data Scientist - Senior Associate,Bengaluru,Baker Hughes,9-14 Yrs

In [ ]:
# Q3. Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
# 1. Brand
# 2. ProductDescription
# 3. Price
# The attributes which you have to scrape is ticked marked in the below image.

#To scrape the data you have to go through following steps:

# 1. Go to Flipkart webpage by url : https://www.flipkart.com/
# 2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and click the search icon
# 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
# 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
# 5. Now scrape data from this page as usual
# 6. Repeat this until you get data for 100sunglasses. Note: That all of the above steps have to be done by coding only and not
#   manually.

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
designation=driver.find_element(By.CLASS_NAME,"Pke_EE")
designation.send_keys('sunglasses')

In [5]:
clk_button=driver.find_element(By.CLASS_NAME,"MJG8Up")
clk_button.click()

In [6]:
# create empty list

brand=[]
product_description=[]
price=[]

In [7]:
start=0 # Starting Page
end=3 # end page
for i in range(start,end): # loop will execute till 3 page
    brand_name=driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
    for i in brand_name:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
brand

['Being Better',
 'VINCENT CHASE',
 'Fastrack',
 'ROADWAY',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Eyenaks',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'hipe',
 'PIRASO',
 'hayden haiza',
 'Rich Club',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'hayden haiza',
 'Fastrack',
 'ROYAL SON',
 'IDEE',
 'Fastrack',
 'ROADWAY',
 'ROADWAY',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'hayden haiza',
 'ROYAL SON',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'PC STAR',
 'AISLIN',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'VINCENT CHASE',
 'hayden haiza',
 'HRX by Hrithik Roshan',
 'sefton',
 'VINCENT CHASE',
 'ROYAL SON',
 'Rich Club',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'GANSTA',
 'Dervin',
 'Roadster',
 'PIRASO',
 'Eyewearlabs',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'HATin',
 'hayden haiza',
 'VINCENT CHASE',
 'Eyenaks',
 'Eyenaks',
 'NuVew',
 'VINCENT CHASE',
 'ROYAL SON',
 'AISLIN',
 'ROYAL SON',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PC STAR',
 'Singco India',
 'ROYAL SON',
 'Lenskart STUDIO',
 'VINCENT CHASE',
 'Rich Club',
 'RESIST EYEWEAR',
 'AISLIN',
 'IDEE',
 'IDEE',
 'hayden haiza',
 'Ray-Ban',
 'ROYAL SON',
 'ROYAL SON',
 'IDEE',
 'AISLIN',
 'ROYAL SON',
 'RESIST EYEWEAR',
 'AISLIN',
 'OJOS',
 'IDEE',
 'ROYAL SON',
 'ROYAL SON',
 'AISLIN',
 'john jacobs',
 'ROADWAY',
 'AISLIN',
 'ROYAL SON',
 'hipe',
 'AISLIN',
 'VINCENT CHASE',
 'POLICE',
 'AISLIN',
 'ROYAL SON',
 'NuVew',
 'AISLIN',
 'Dressberry',
 'VINCENT CHASE',
 'AISLIN',
 'Ray-Ban',
 'Hooper',
 'NuVew',
 'IRUS',
 'IRUS',
 'AISLIN',
 'john jacobs']

In [8]:
len(brand)

120

In [9]:
start=0 
end=3
for i in range(start,end): # loop will execute till 3 page
    product_des=driver.find_elements(By.XPATH,'//div[@class="hCKiGj"]/a[1]')
    for i in product_des:
        product_description.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
product_description

['UV Protection, Gradient Wayfarer, Wrap-around Sunglasse...',
 'Polarized, UV Protection Aviator Sunglasses (56)',
 'Polarized, UV Protection, Gradient Butterfly, Round Sun...',
 'Polarized, UV Protection Wayfarer Sunglasses (46)',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (64)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection, Gradient Round Sunglasses (58)',
 'Polarized, UV Protection Wayfarer Sunglasses (50)',
 'Gradient Retro Square Sunglasses (55)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Gradient Oval Sunglasses (56)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection, Gradient Over-sized Sunglasses (63)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection, Gradient Wayfarer Sunglasses (56)',
 'Gradient Spectacle Sunglasses (52)',
 'Gradient Aviator Sunglasses (60)',
 'Polarized, UV Protection Rectangular Sunglasses (53)',
 'UV Protection Shield Sunglasses (51)',
 'Gradient Rectangular Sunglasses (60)',
 'UV Protection, Gradient Wayfarer, Retro Square Sunglass...',
 'Polarized, UV Protection Aviator Sunglasses (56)',
 'Gradient Retro Square Sunglasses (55)',
 'Gradient Retro Square Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Oval, Aviator Sunglasses (57)',
 'Gradient Butterfly Sunglasses (59)',
 'UV Protection Clubmaster Sunglasses (56)',
 'UV Protection Butterfly Sunglasses (61)',
 'UV Protection Round, Over-sized Sunglasses (Free Size)',
 'UV Protection, Polarized Wrap-around, Sports Sunglasses...',
 'Gradient Wayfarer Sunglasses (55)',
 'Gradient Butterfly Sunglasses (61)',
 'Gradient Retro Square Sunglasses (56)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (58)',
 'Polarized, UV Protection Rectangular Sunglasses (54)',
 'Gradient Retro Square Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized Aviator Sunglasses (62)',
 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...',
 'Others Butterfly Sunglasses (56)',
 'Gradient Retro Square Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Gradient Rectangular Sunglasses (60)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Over-sized Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Gradient, Night Vision, Polarized, Ridin...',
 'Gradient Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Retro Square Sunglasses (58)',
 'UV Protection Oval, Aviator Sunglasses (60)',
 'Gradient Rectangular Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection, Mirrored, Gradient Aviator Sunglasses (5...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'by Lenskart UV Protection, Polarized Round Sunglasses (...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Riding Glasses Sports Sunglasses (54)',
 'UV Protection Aviator Sunglasses (59)',
 'Gradient Wayfarer Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Sports Sunglasses ...',
 'by Lenskart UV Protection Rectangular Sunglasses (56)',
 'UV Protection, Gradient Retro Square, Over-sized Sungla...',
 'Gradient Retro Square Sunglasses (55)',
 'Gradient Retro Square Sunglasses (57)',
 'Gradient Retro Square Sunglasses (57)',
 'Gradient Retro Square Sunglasses (56)',
 'Polarized, UV Protection Wayfarer Sunglasses (48)',
 'UV Protection Sports, Wrap-around Sunglasses (59)',
 'Polarized, UV Protection Cat-eye Sunglasses (49)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Retro Square, Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (61)',
 'Gradient Aviator Sunglasses (57)',
 'Gradient Retro Square Sunglasses (55)',
 'Gradient Retro Square Sunglasses (57)',
 'UV Protection, Mirrored Over-sized Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (50)',
 'Gradient Retro Square Sunglasses (56)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Over-sized Sunglasses (58)',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (58...',
 'Gradient Butterfly Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Gradient Round Sunglasses (51)',
 'UV Protection Aviator Sunglasses (59)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (49)',
 'UV Protection Oval Sunglasses (54)',
 'Polarized, UV Protection, Mirrored Round, Oval Sunglass...',
 'UV Protection Round, Over-sized Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored, Night Vision, ...',
 'Gradient Round Sunglasses (56)',
 'Gradient Cat-eye Sunglasses (53)',
 'Gradient Oval Sunglasses (52)',
 'Gradient Retro Square Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized, UV Protection Retro Square Sunglasses (50)',
 'Polarized, UV Protection, Gradient Round, Aviator Sungl...',
 'Polarized, UV Protection Aviator Sunglasses (56)',
 'Gradient Retro Square Sunglasses (62)',
 'Polarized, UV Protection Wayfarer Sunglasses (48)',
 'Polarized, UV Protection Rectangular Sunglasses (55)',
 'Gradient Oval Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (46)',
 'Riding Glasses, UV Protection, Night Vision, Polarized,...']

In [10]:
len(product_description)

120

In [11]:
start=0 # Starting Page
end=3 # end page
for i in range(start,end): # loop will execute till 3 page
    pri=driver.find_elements(By.XPATH,'//a[@class="+tlBoD"]/div[1]/div[1]')
    for i in pri:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(3)
price

['₹3,149',
 '₹1,039',
 '₹613',
 '₹1,228',
 '₹344',
 '₹2,835',
 '₹2,506',
 '₹3,185',
 '₹775',
 '₹499',
 '₹2,086',
 '₹2,436',
 '₹583',
 '₹944',
 '₹698',
 '₹769',
 '₹2,506',
 '₹3,625',
 '₹2,653',
 '₹845',
 '₹1,039',
 '₹4,445',
 '₹665',
 '₹485',
 '₹649',
 '₹268',
 '₹2,506',
 '₹4,175',
 '₹2,765',
 '₹2,436',
 '₹854',
 '₹1,619',
 '₹799',
 '₹765',
 '₹2,765',
 '₹629',
 '₹2,099',
 '₹2,086',
 '₹1,833',
 '₹322',
 '₹3,149',
 '₹1,039',
 '₹613',
 '₹1,228',
 '₹344',
 '₹2,835',
 '₹2,506',
 '₹3,185',
 '₹775',
 '₹499',
 '₹2,086',
 '₹2,436',
 '₹583',
 '₹944',
 '₹698',
 '₹769',
 '₹2,506',
 '₹3,625',
 '₹2,653',
 '₹845',
 '₹1,039',
 '₹4,445',
 '₹665',
 '₹485',
 '₹649',
 '₹268',
 '₹2,506',
 '₹4,175',
 '₹2,765',
 '₹2,436',
 '₹854',
 '₹1,619',
 '₹799',
 '₹765',
 '₹2,765',
 '₹629',
 '₹2,099',
 '₹2,086',
 '₹1,833',
 '₹322',
 '₹3,149',
 '₹1,039',
 '₹613',
 '₹1,228',
 '₹344',
 '₹2,835',
 '₹2,506',
 '₹3,185',
 '₹775',
 '₹499',
 '₹2,086',
 '₹2,436',
 '₹583',
 '₹944',
 '₹698',
 '₹769',
 '₹2,506',
 '₹3,625',
 '₹2,653',
 '₹845',
 '₹1,039',
 '₹4,445',
 '₹665',
 '₹485',
 '₹649',
 '₹268',
 '₹2,506',
 '₹4,175',
 '₹2,765',
 '₹2,436',
 '₹854',
 '₹1,619',
 '₹799',
 '₹765',
 '₹2,765',
 '₹629',
 '₹2,099',
 '₹2,086',
 '₹1,833',
 '₹322']

In [12]:
len(price)

120

In [13]:
data=pd.DataFrame({'Btand':brand,'Product_Description':product_description,'Price':price})
data.head(100)

            Btand                                Product_Description   Price
0    Being Better  UV Protection, Gradient Wayfarer, Wrap-around ...  ₹3,149
1   VINCENT CHASE   Polarized, UV Protection Aviator Sunglasses (56)  ₹1,039
2        Fastrack  Polarized, UV Protection, Gradient Butterfly, ...    ₹613
3         ROADWAY  Polarized, UV Protection Wayfarer Sunglasses (46)  ₹1,228
4   VINCENT CHASE  UV Protection, Gradient Rectangular, Retro Squ...    ₹344
..            ...                                                ...     ...
95      ROYAL SON  Polarized, UV Protection Wayfarer, Round Sungl...    ₹769
96      ROYAL SON                 Gradient Butterfly Sunglasses (53)  ₹2,506
97         AISLIN             UV Protection Wayfarer Sunglasses (53)  ₹3,625
98    john jacobs                     Gradient Round Sunglasses (51)  ₹2,653
99        ROADWAY              UV Protection Aviator Sunglasses (59)    ₹845

[100 rows x 3 columns]