In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time

In [ ]:
# Q1 .Scrape the details of most viewed videos on YouTube from Wikipedia. 
# Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
# A) Rank
# B) Name
# C) Artist
# D) Upload date
# E) Views

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [4]:
search_1 = driver.find_element(By.XPATH,'//*[@id="noarticletext"]/tbody/tr/td/span/a')
search_1.click()

In [5]:
search_2 = driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[2]/div[4]/ul/li[1]/div/div[2]/div[1]/a')
search_2.click()

In [6]:
table=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[1]')

In [7]:
# Total Rows in table
rows=[]
table_rows=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
for i in table_rows:
    rows.append(i.text)
print(rows)

['"Baby Shark Dance"[7] Pinkfong Baby Shark - Kids\' Songs & Stories 14.66 June 17, 2016 [A]', '"Despacito"[10] Luis Fonsi 8.47 January 12, 2017 [B]', '"Johny Johny Yes Papa"[18] LooLoo Kids - Nursery Rhymes and Children\'s Songs 6.92 October 8, 2016', '"Bath Song"[19] Cocomelon - Nursery Rhymes 6.75 May 2, 2018', '"See You Again"[20] Wiz Khalifa 6.30 April 6, 2015 [C]', '"Shape of You"[25] Ed Sheeran 6.28 January 30, 2017 [D]', '"Wheels on the Bus"[28] Cocomelon - Nursery Rhymes 6.22 May 24, 2018', '"Phonics Song with Two Words"[29] ChuChu TV Nursery Rhymes & Kids Songs 5.84 March 6, 2014', '"Uptown Funk"[30] Mark Ronson 5.25 November 19, 2014', '"Gangnam Style"[31] Psy 5.20 July 15, 2012 [E]', '"Learning Colors – Colorful Eggs on a Farm"[36] Miroshka TV 5.13 February 27, 2018', '"Dame Tu Cosita"[37] Ultra Records 4.68 April 5, 2018', '"Axel F"[38] Crazy Frog 4.60 June 16, 2009', '"Masha and the Bear – Recipe for Disaster"[39] Get Movies 4.60 January 31, 2012', '"Baa Baa Black Sheep"[40] Cocomelon - Nursery Rhymes 4.10 June 25, 2018', '"Lakdi Ki Kathi"[41] Jingle Toons 4.07 June 14, 2018', '"Sugar"[42] Maroon 5 4.06 January 14, 2015', '"Counting Stars"[43] OneRepublic 4.03 May 31, 2013', '"Roar"[44] Katy Perry 4.01 September 5, 2013', '"Waka Waka (This Time for Africa)"[45] Shakira 3.96 June 4, 2010', '"Shree Hanuman Chalisa"[46] T-Series Bhakti Sagar 3.90 May 10, 2011', '"Humpty the train on a fruits ride"[47] Kiddiestv Hindi - Nursery Rhymes & Kids Songs 3.84 January 26, 2018', '"Sorry"[48] Justin Bieber 3.82 October 22, 2015', '"Thinking Out Loud"[49] Ed Sheeran 3.78 October 7, 2014', '"Perfect"[50] Ed Sheeran 3.75 November 9, 2017', '"Dark Horse"[51] Katy Perry 3.74 February 20, 2014', '"Let Her Go"[52] Passenger 3.68 July 25, 2012', '"Faded"[53] Alan Walker 3.65 December 3, 2015', '"Girls Like You"[54] Maroon 5 3.62 May 31, 2018', '"Lean On"[55] Major Lazer Official 3.62 March 22, 2015']

In [8]:
len(rows)

30

In [9]:
# Total row data in table 
tot_element=[]
table_ele=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td')
for i in table_ele:
    tot_element.append(i.text)
print(tot_element)

['"Baby Shark Dance"[7]', "Pinkfong Baby Shark - Kids' Songs & Stories", '14.66', 'June 17, 2016', '[A]', '"Despacito"[10]', 'Luis Fonsi', '8.47', 'January 12, 2017', '[B]', '"Johny Johny Yes Papa"[18]', "LooLoo Kids - Nursery Rhymes and Children's Songs", '6.92', 'October 8, 2016', '', '"Bath Song"[19]', 'Cocomelon - Nursery Rhymes', '6.75', 'May 2, 2018', '', '"See You Again"[20]', 'Wiz Khalifa', '6.30', 'April 6, 2015', '[C]', '"Shape of You"[25]', 'Ed Sheeran', '6.28', 'January 30, 2017', '[D]', '"Wheels on the Bus"[28]', 'Cocomelon - Nursery Rhymes', '6.22', 'May 24, 2018', '', '"Phonics Song with Two Words"[29]', 'ChuChu TV Nursery Rhymes & Kids Songs', '5.84', 'March 6, 2014', '', '"Uptown Funk"[30]', 'Mark Ronson', '5.25', 'November 19, 2014', '', '"Gangnam Style"[31]', 'Psy', '5.20', 'July 15, 2012', '[E]', '"Learning Colors – Colorful Eggs on a Farm"[36]', 'Miroshka TV', '5.13', 'February 27, 2018', '', '"Dame Tu Cosita"[37]', 'Ultra Records', '4.68', 'April 5, 2018', '', '"Axel F"[38]', 'Crazy Frog', '4.60', 'June 16, 2009', '', '"Masha and the Bear – Recipe for Disaster"[39]', 'Get Movies', '4.60', 'January 31, 2012', '', '"Baa Baa Black Sheep"[40]', 'Cocomelon - Nursery Rhymes', '4.10', 'June 25, 2018', '', '"Lakdi Ki Kathi"[41]', 'Jingle Toons', '4.07', 'June 14, 2018', '', '"Sugar"[42]', 'Maroon 5', '4.06', 'January 14, 2015', '', '"Counting Stars"[43]', 'OneRepublic', '4.03', 'May 31, 2013', '', '"Roar"[44]', 'Katy Perry', '4.01', 'September 5, 2013', '', '"Waka Waka (This Time for Africa)"[45]', 'Shakira', '3.96', 'June 4, 2010', '', '"Shree Hanuman Chalisa"[46]', 'T-Series Bhakti Sagar', '3.90', 'May 10, 2011', '', '"Humpty the train on a fruits ride"[47]', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', '3.84', 'January 26, 2018', '', '"Sorry"[48]', 'Justin Bieber', '3.82', 'October 22, 2015', '', '"Thinking Out Loud"[49]', 'Ed Sheeran', '3.78', 'October 7, 2014', '', '"Perfect"[50]', 'Ed Sheeran', '3.75', 'November 9, 2017', '', '"Dark Horse"[51]', 'Katy Perry', '3.74', 'February 20, 2014', '', '"Let Her Go"[52]', 'Passenger', '3.68', 'July 25, 2012', '', '"Faded"[53]', 'Alan Walker', '3.65', 'December 3, 2015', '', '"Girls Like You"[54]', 'Maroon 5', '3.62', 'May 31, 2018', '', '"Lean On"[55]', 'Major Lazer Official', '3.62', 'March 22, 2015', '']

In [10]:
len(tot_element)

150

In [11]:
# Name of the Video
from selenium.common.exceptions import NoSuchElementException
name=[]
try:
    namee=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for i in namee:
        if i.text is not None :
            name.append(i.text)             
except:
    name.append("$")           
print(name)

['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"See You Again"[20]', '"Shape of You"[25]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Dame Tu Cosita"[37]', '"Axel F"[38]', '"Masha and the Bear – Recipe for Disaster"[39]', '"Baa Baa Black Sheep"[40]', '"Lakdi Ki Kathi"[41]', '"Sugar"[42]', '"Counting Stars"[43]', '"Roar"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Shree Hanuman Chalisa"[46]', '"Humpty the train on a fruits ride"[47]', '"Sorry"[48]', '"Thinking Out Loud"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]']

In [12]:
len(name)

30

In [13]:
artist=[]
try:
    namee=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for i in namee:
        if i.text is not None :
            artist.append(i.text)             
except:
    artist.append("$")           
print(artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Wiz Khalifa', 'Ed Sheeran', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Psy', 'Miroshka TV', 'Ultra Records', 'Crazy Frog', 'Get Movies', 'Cocomelon - Nursery Rhymes', 'Jingle Toons', 'Maroon 5', 'OneRepublic', 'Katy Perry', 'Shakira', 'T-Series Bhakti Sagar', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'Justin Bieber', 'Ed Sheeran', 'Ed Sheeran', 'Katy Perry', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

In [14]:
len(artist)

30

In [15]:
views=[]
try:
    namee=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for i in namee:
        if i.text is not None :
            views.append(i.text)             
except:
    views.append("$")           
print(views)

['14.66', '8.47', '6.92', '6.75', '6.30', '6.28', '6.22', '5.84', '5.25', '5.20', '5.13', '4.68', '4.60', '4.60', '4.10', '4.07', '4.06', '4.03', '4.01', '3.96', '3.90', '3.84', '3.82', '3.78', '3.75', '3.74', '3.68', '3.65', '3.62', '3.62']

In [16]:
len(views)

30

In [17]:
date=[]
try:
    namee=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for i in namee:
        if i.text is not None :
            date.append(i.text)             
except:
    date.append("$")           
print(date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'April 6, 2015', 'January 30, 2017', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'April 5, 2018', 'June 16, 2009', 'January 31, 2012', 'June 25, 2018', 'June 14, 2018', 'January 14, 2015', 'May 31, 2013', 'September 5, 2013', 'June 4, 2010', 'May 10, 2011', 'January 26, 2018', 'October 22, 2015', 'October 7, 2014', 'November 9, 2017', 'February 20, 2014', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

In [18]:
len(date)

30

In [19]:
df=pd.DataFrame({'Vedio Name':name,'Artist Name':artist,'Views':views,'Update Date':date})
df

,Vedio Name,Artist Name,Views,Update Date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.66,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.47,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.92,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.75,"May 2, 2018"
4,"""See You Again""[20]",Wiz Khalifa,6.30,"April 6, 2015"
5,"""Shape of You""[25]",Ed Sheeran,6.28,"January 30, 2017"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.22,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.84,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.25,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.20,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.13,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.68,"April 5, 2018"
12,"""Axel F""[38]",Crazy Frog,4.60,"June 16, 2009"
13,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.60,"January 31, 2012"
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.10,"June 25, 2018"
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.07,"June 14, 2018"
16,"""Sugar""[42]",Maroon 5,4.06,"January 14, 2015"
17,"""Counting Stars""[43]",OneRepublic,4.03,"May 31, 2013"
18,"""Roar""[44]",Katy Perry,4.01,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.96,"June 4, 2010"
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.90,"May 10, 2011"
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.84,"January 26, 2018"
22,"""Sorry""[48]",Justin Bieber,3.82,"October 22, 2015"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.78,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.75,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.74,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.68,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.65,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.62,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.62,"March 22, 2015"

In [ ]:
# Q2. Scrape the details team India’s international fixtures from bcci.tv.
# Url = https://www.bcci.tv/.
# You need to find following details:
# A) Series
# B) Place
# C) Date
# D) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code

In [20]:
driver=webdriver.Chrome()

In [21]:
driver.get("https://www.bcci.tv/")

In [23]:
search_1 = driver.find_element(By.XPATH,'//*[@id="imw-international-men"]/a[2]')
search_1.click()

In [28]:
search_1 = driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[1]/div[3]/div[2]')
search_1.click()

In [26]:
search_1 = driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[2]/div[1]/div[2]')
search_1.click()

In [29]:
search_1 = driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[3]/div[2]/div/button')
search_1.click()

In [30]:
series=[]
try:    
    ser=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in ser:
        if i.text is not None:
            series.append(i.text)
except NoSuchElementException:
    series.append('-')
print(series,len(series))

['India Tour Of Zimbabwe T20I Series 2024', 'India Tour Of Zimbabwe T20I Series 2024', 'India Tour Of Zimbabwe T20I Series 2024', 'India Tour Of Zimbabwe T20I Series 2024', 'India Tour Of Zimbabwe T20I Series 2024', 'Bangladesh Tour Of India Test Series 2024', 'Bangladesh Tour Of India Test Series 2024', 'Bangladesh Tour Of India T20 Series 2024', 'Bangladesh Tour Of India T20 Series 2024', 'Bangladesh Tour Of India T20 Series 2024', 'New Zealand Tour Of India Test Series 2024', 'New Zealand Tour Of India Test Series 2024', 'New Zealand Tour Of India Test Series 2024'] 13

In [31]:
statium=[]
try:    
    sta=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for i in sta:
        if i.text is not None:
            statium.append(i.text)
except NoSuchElementException:
    statium.append('-')
print(statium,len(statium))

['Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'MA Chidambaram Stadium,', 'Green Park,', 'Himachal Pradesh Cricket Association Stadium,', 'Arun Jaitley Stadium,', 'Rajiv Gandhi International Stadium,', 'M Chinnaswamy Stadium,', 'Maharashtra Cricket Association Stadium,', 'Wankhede Stadium,'] 13

In [32]:
country=[]
try:    
    coun=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in coun:
        if i.text is not None:
            country.append(i.text)
except NoSuchElementException:
    country.append('-')
print(country,len(country))

['Harare', 'Harare', 'Harare', 'Harare', 'Harare', 'Chennai', 'Kanpur', 'Dharamsala', 'Delhi', 'Hyderabad', 'Bengaluru', 'Pune', 'Mumbai'] 13

In [33]:
date=[]
try:    
    dt=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in dt:
        if i.text is not None:
            date.append(i.text)
except NoSuchElementException:
    date.append('-')
print(date,len(date))

['6 Jul', '7 Jul', '10 Jul', '13 Jul', '14 Jul', '19 Sep', '27 Sep', '6 Oct', '9 Oct', '12 Oct', '16 Oct', '24 Oct', '1 Nov'] 13

In [34]:
time=[]

try:    
    tm=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in tm:
        if i.text is not None:
            time.append(i.text)
except NoSuchElementException:
    time.append('-')
print(time,len(time))

['16:30 IST', '16:30 IST', '16:30 IST', '16:30 IST', '16:30 IST', '9:30', '9:30', '19:00 IST', '19:00 IST', '19:00 IST', '9:30 IST', '9:30 IST', '9:30 IST'] 13

In [35]:
df=pd.DataFrame({'Series':series,'Venue':statium,'country':country,'Date':date,'Time':time})
df

,Series,Venue,country,Date,Time
0,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",Harare,6 Jul,16:30 IST
1,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",Harare,7 Jul,16:30 IST
2,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",Harare,10 Jul,16:30 IST
3,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",Harare,13 Jul,16:30 IST
4,India Tour Of Zimbabwe T20I Series 2024,"Harare Sports Club,",Harare,14 Jul,16:30 IST
5,Bangladesh Tour Of India Test Series 2024,"MA Chidambaram Stadium,",Chennai,19 Sep,9:30
6,Bangladesh Tour Of India Test Series 2024,"Green Park,",Kanpur,27 Sep,9:30
7,Bangladesh Tour Of India T20 Series 2024,"Himachal Pradesh Cricket Association Stadium,",Dharamsala,6 Oct,19:00 IST
8,Bangladesh Tour Of India T20 Series 2024,"Arun Jaitley Stadium,",Delhi,9 Oct,19:00 IST
9,Bangladesh Tour Of India T20 Series 2024,"Rajiv Gandhi International Stadium,",Hyderabad,12 Oct,19:00 IST
10,New Zealand Tour Of India Test Series 2024,"M Chinnaswamy Stadium,",Bengaluru,16 Oct,9:30 IST
11,New Zealand Tour Of India Test Series 2024,"Maharashtra Cricket Association Stadium,",Pune,24 Oct,9:30 IST
12,New Zealand Tour Of India Test Series 2024,"Wankhede Stadium,",Mumbai,1 Nov,9:30 IST

In [ ]:
# Q3. Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details: A) Rank
# B) State
# C) GSDP(18-19)- at current prices
# D) GSDP(19-20)- at current prices
# E) Share(18-19)
# F) GDP($ billion)
# Note: - From statisticstimes home page you have to reach to economy page through code

In [36]:
driver=webdriver.Chrome()

In [37]:
driver.get("http://statisticstimes.com/")

In [38]:
search_1 = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
search_1.click()

In [39]:
search_1 = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
search_1.click()

In [41]:
search_1 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_1.click()

In [42]:
rank=[]
try:    
    rk=driver.find_elements(By.XPATH,'//td[@class="data1"]')
    for i in rk:
        if i.text is not None:
            rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
print(rank,len(rank))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', ''] 68

In [43]:
state=[]
try:    
    st=driver.find_elements(By.XPATH,'//td[@class="name"]')
    for i in st:
        if i.text is not None:
            state.append(i.text)
except NoSuchElementException:
    state.append('-')
print(state,len(state))

['Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Karnataka', 'Uttar Pradesh', 'Gujarat', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Odisha', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands', 'India'] 68

In [44]:
gsdp18_19=[]
try:    
    rk=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
    for i in rk:
        if i.text is not None:
            gsdp18_19.append(i.text)
except NoSuchElementException:
    gsdp18_19.append('$')
print(gsdp18_19,len(gsdp18_19))

['3,108,022', '2,071,286', '1,978,094', '1,975,595', '1,928,683', '1,329,238', '1,193,489', '1,148,471', '1,124,204', '1,092,964', '934,542', '881,336', '868,905', '662,886', '650,302', '617,192', '411,454', '410,525', '358,863', '267,143', '193,352', '172,162', '84,266', '62,550', '46,096', '43,810', '38,785', '37,557', '36,594', '34,775', '31,038', '27,824', '10,371'] 33

In [45]:
gsdp19_20=[]
try:    
    gs=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
    for i in gs:
        if i.text is not None:
            gsdp19_20.append(i.text)
except NoSuchElementException:
    gsdp19_20.append('$')
print(gsdp19_20,len(gsdp19_20))

['-', '2,364,514', '2,269,995', '2,258,040', '2,230,609', '1,531,758', '1,365,849', '1,303,524', '1,308,034', '1,246,471', '1,046,188', '1,014,688', '984,055', '753,177', '751,396', '676,164', '493,167', '464,399', '393,722', '303,781', '224,226', '191,728', '93,672', '72,636', '54,285', '49,643', '42,697', '42,756', '-', '39,630', '35,643', '-', '-'] 33

In [46]:
share18_19=[]
try:    
    sh=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
    for i in sh:
        if i.text is not None:
            share18_19.append(i.text)
except NoSuchElementException:
    share18_19.append('$')
print(share18_19,len(share18_19))

['13.17%', '8.78%', '8.38%', '8.37%', '8.17%', '5.63%', '5.06%', '4.87%', '4.76%', '4.63%', '3.96%', '3.73%', '3.68%', '2.81%', '2.76%', '2.62%', '1.74%', '1.74%', '1.52%', '1.13%', '0.82%', '0.73%', '0.36%', '0.27%', '0.20%', '0.19%', '0.16%', '0.16%', '0.16%', '0.15%', '0.13%', '0.12%', '0.04%'] 33

In [47]:
gdp18_19=[]
try:    
    gd=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[7]')
    for i in gd:
        if i.text is not None:
            gdp18_19.append(i.text)
except NoSuchElementException:
    gdp18_19.append('$')
print(gdp18_19,len(gdp18_19))

['414.928', '276.522', '264.080', '263.747', '257.484', '177.456', '159.334', '153.324', '150.084', '145.913', '124.764', '117.660', '116.001', '88.497', '86.817', '82.397', '54.930', '54.806', '47.909', '35.664', '25.813', '22.984', '11.250', '8.351', '6.154', '5.849', '5.178', '5.014', '4.885', '4.643', '4.144', '3.715', '1.385'] 33

In [48]:
df=pd.DataFrame({'Rank':rank[:33],'State':state[:33],'GSDP 18_19':gsdp18_19,'GSDP 19_20':gsdp19_20,'Share':share18_19,'GDP':gdp18_19})
df

   Rank                      State GSDP 18_19 GSDP 19_20   Share      GDP
0     1                Maharashtra  3,108,022          -  13.17%  414.928
1     2                 Tamil Nadu  2,071,286  2,364,514   8.78%  276.522
2     3                  Karnataka  1,978,094  2,269,995   8.38%  264.080
3     4              Uttar Pradesh  1,975,595  2,258,040   8.37%  263.747
4     5                    Gujarat  1,928,683  2,230,609   8.17%  257.484
5     6                West Bengal  1,329,238  1,531,758   5.63%  177.456
6     7                  Rajasthan  1,193,489  1,365,849   5.06%  159.334
7     8             Andhra Pradesh  1,148,471  1,303,524   4.87%  153.324
8     9                  Telangana  1,124,204  1,308,034   4.76%  150.084
9    10             Madhya Pradesh  1,092,964  1,246,471   4.63%  145.913
10   11                     Kerala    934,542  1,046,188   3.96%  124.764
11   12                      Delhi    881,336  1,014,688   3.73%  117.660
12   13                    Haryana    868,905    984,055   3.68%  116.001
13   14                     Odisha    662,886    753,177   2.81%   88.497
14   15                      Bihar    650,302    751,396   2.76%   86.817
15   16                     Punjab    617,192    676,164   2.62%   82.397
16   17                      Assam    411,454    493,167   1.74%   54.930
17   18               Chhattisgarh    410,525    464,399   1.74%   54.806
18   19                  Jharkhand    358,863    393,722   1.52%   47.909
19   20                Uttarakhand    267,143    303,781   1.13%   35.664
20   21            Jammu & Kashmir    193,352    224,226   0.82%   25.813
21   22           Himachal Pradesh    172,162    191,728   0.73%   22.984
22   23                        Goa     84,266     93,672   0.36%   11.250
23   24                    Tripura     62,550     72,636   0.27%    8.351
24   25                 Chandigarh     46,096     54,285   0.20%    6.154
25   26                 Puducherry     43,810     49,643   0.19%    5.849
26   27                  Meghalaya     38,785     42,697   0.16%    5.178
27   28                     Sikkim     37,557     42,756   0.16%    5.014
28   29                    Manipur     36,594          -   0.16%    4.885
29   30          Arunachal Pradesh     34,775     39,630   0.15%    4.643
30   31                   Nagaland     31,038     35,643   0.13%    4.144
31   32                    Mizoram     27,824          -   0.12%    3.715
32   33  Andaman & Nicobar Islands     10,371          -   0.04%    1.385

In [ ]:
#Q4. Scrape the details of trending repositories on Github.com.
# Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [49]:
driver=webdriver.Chrome()

In [50]:
driver.get("https://github.com/")

In [51]:
search_1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/button')
search_1.click()

In [52]:
search_1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')
search_1.click()

In [53]:
reposit=[]
try:    
    rep=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
    for i in rep:
        if i.text is not None:
            reposit.append(i.text)
except NoSuchElementException:
    reposit.append('$')
print(reposit,len(reposit))

['goldmansachs / gs-quant', 'WerWolv / ImHex', 'microsoft / generative-ai-for-beginners', 'microsoft / semantic-kernel', 'neovim / neovim', 'starship / starship', 'Asabeneh / 30-Days-Of-Python', 'YaLTeR / niri', 'astral-sh / uv', 'yt-dlp / yt-dlp', 'pedroslopez / whatsapp-web.js', 'overleaf / overleaf', 'VinciGit00 / Scrapegraph-ai', 'tigerbeetle / tigerbeetle', 'EricLBuehler / mistral.rs', 'danielmiessler / fabric', 'cuixueshe / earthworm', 'XingangPan / DragGAN', 'hajimehoshi / ebiten'] 19

In [54]:
descrip=[]
try:    
    des=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in des:
        if i.text is not None:
            descrip.append(i.text)
except NoSuchElementException:
    descrip.append('$')
print(descrip,len(descrip))

['Python toolkit for quantitative finance', '🔍 A Hex Editor for Reverse Engineers, Programmers and people who value their retinas when working at 3 AM.', '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/', 'Integrate cutting-edge LLM technology quickly and easily into your apps', 'Vim-fork focused on extensibility and usability', '☄🌌️ The minimal, blazing-fast, and infinitely customizable prompt for any shell!', '30 days of Python programming challenge is a step-by-step guide to learn the Python programming language in 30 days. This challenge may take more than100 days, follow your own pace. These videos may help too: https://www.youtube.com/channel/UC7PNRuno1rzYPb1xLa4yktw', 'A scrollable-tiling Wayland compositor.', 'An extremely fast Python package installer and resolver, written in Rust.', 'A feature-rich command-line audio/video downloader', 'A WhatsApp client library for NodeJS that connects through the WhatsApp Web browser app', 'A web-based collaborative LaTeX editor', 'Python scraper based on AI', 'The distributed financial transactions database designed for mission critical safety and performance.', 'Blazingly fast LLM inference.', 'fabric is an open-source framework for augmenting humans using AI. It provides a modular framework for solving specific problems using a crowdsourced set of AI prompts that can be used anywhere.', 'Learning English through the method of constructing sentences with conjunctions', 'Official Code for DragGAN (SIGGRAPH 2023)', 'Ebitengine - A dead simple 2D game engine for Go'] 19

In [55]:
contri=[]
try:    
    con=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[2]')
    for i in con:
        if i.text is not None:
            contri.append(i.text)
except NoSuchElementException:
    descrip.append('$')
print(contri,len(contri))

['602', '1,652', '27,185', '2,939', '5,484', '1,825', '6,941', '72', '405', '5,962', '3,418', '1,367', '960', '439', '209', '1,832', '521', '3,409', '632'] 19

In [56]:
lang=[]
try:    
    lg=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
    for i in lg:
        if i.text is not None:
            lang.append(i.text)
except NoSuchElementException:
    lang.append('$')
print(lang,len(lang))

['Jupyter Notebook', 'C++', 'Jupyter Notebook', 'C#', 'Vim Script', 'Rust', 'Python', 'Rust', 'Rust', 'Python', 'JavaScript', 'JavaScript', 'Python', 'Zig', 'Rust', 'Python', 'TypeScript', 'Python', 'Go'] 19

In [57]:
df=pd.DataFrame({'Repository Title':reposit,'Description':descrip,'Contributors Count':contri,'Language':lang})
df

,Repository Title,Description,Contributors Count,Language
0,goldmansachs / gs-quant,Python toolkit for quantitative finance,602,Jupyter Notebook
1,WerWolv / ImHex,"🔍 A Hex Editor for Reverse Engineers, Programm...","1,652",C++
2,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","27,185",Jupyter Notebook
3,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,"2,939",C#
4,neovim / neovim,Vim-fork focused on extensibility and usability,"5,484",Vim Script
5,starship / starship,"☄🌌️ The minimal, blazing-fast, and infinitely ...","1,825",Rust
6,Asabeneh / 30-Days-Of-Python,30 days of Python programming challenge is a s...,"6,941",Python
7,YaLTeR / niri,A scrollable-tiling Wayland compositor.,72,Rust
8,astral-sh / uv,An extremely fast Python package installer and...,405,Rust
9,yt-dlp / yt-dlp,A feature-rich command-line audio/video downlo...,"5,962",Python
10,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,"3,418",JavaScript
11,overleaf / overleaf,A web-based collaborative LaTeX editor,"1,367",JavaScript
12,VinciGit00 / Scrapegraph-ai,Python scraper based on AI,960,Python
13,tigerbeetle / tigerbeetle,The distributed financial transactions databas...,439,Zig
14,EricLBuehler / mistral.rs,Blazingly fast LLM inference.,209,Rust
15,danielmiessler / fabric,fabric is an open-source framework for augment...,"1,832",Python
16,cuixueshe / earthworm,Learning English through the method of constru...,521,TypeScript
17,XingangPan / DragGAN,Official Code for DragGAN (SIGGRAPH 2023),"3,409",Python
18,hajimehoshi / ebiten,Ebitengine - A dead simple 2D game engine for Go,632,Go

In [ ]:
# Q5.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following 
# details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [58]:
driver=webdriver.Chrome()

In [59]:
driver.get("https:/www.billboard.com/")

In [60]:
search_1 = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
search_1.click()

In [61]:
search_1 = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[3]/div/nav/ul/li[1]/a')
search_1.click()

In [62]:
song=[]
try:    
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/h3')
    for i in name:
        if i.text is not None:
            song.append(i.text)
except NoSuchElementException:
    lang.append('$')
print(song,len(song))

['Please Please Please', 'I Had Some Help', 'A Bar Song (Tipsy)', 'Espresso', 'Million Dollar Baby', 'Not Like Us', 'Too Sweet', 'Beautiful Things', 'Lose Control', 'Birds Of A Feather', 'Pink Skies', 'Houdini', 'Fortnight', 'Like That', 'Cowgirls', 'Good Luck, Babe!', 'Saturn', 'Lunch', "We Can't Be Friends (Wait For Your Love)", 'Austin', 'Whiskey Whiskey', 'I Remember Everything', 'Feather', 'Miles On It', 'Wanna Be', 'Lovin On Me', 'High Road', 'Stick Season', 'BAND4BAND', 'I Am Not Okay', 'Gata Only', 'Yeah Glo!', "Ain't No Love In Oklahoma", 'Slow It Down', 'Remember Him That Way', 'Chihiro', 'End Of Beginning', 'Get It Sexyy', 'The Man He Sees In Me', 'Bulletproof', 'Greedy', 'Agora Hills', 'Where It Ends', 'Stargazing', 'I Can Do It With A Broken Heart', 'I Like The Way You Kiss Me', 'Devil Is A Lie', 'Whatever She Wants', 'Sweet Dreams', 'One Of Wun', 'Type Shit', 'Euphoria', 'Dirt Cheap', 'Red Wine Supernova', 'Hot To Go!', 'Wild Ones', 'Wildflower', 'Attitude', 'U My Everything', 'Illusion', 'Brother Stone', 'Nasty', 'We Ride', 'Down Bad', 'Si No Quieres No', "Think I'm In Love With You", "Wind Up Missin' You", 'Wine Into Whiskey', 'Close To You', "L'amour De Ma Vie", 'The Thin Grey Line', 'Scared To Start', 'Bandit', 'The Boy Is Mine', 'Halfway To Hell', 'The Door', "Texas Hold 'Em", 'Tore Up', 'Belong Together', 'Your Place', 'After Hours', '360', "Who's Afraid Of Little Old Me?", 'Blue', 'Beautiful As You', 'Burgundy', 'Hell N Back', 'Guilty As Sin?', 'Enough (Miami)', 'Pink Pony Club', 'Thorns', 'Ice Age', 'Take Her Home', 'Let Your Boys Be Country', 'Front Door Famous', 'Spin You Around (1/24)', 'Get In With Me', 'Kryptonite', 'Carnival', 'Chevrolet'] 100

In [63]:
artist=[]
try:    
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
    for i in name:
        if i.text is not None:
            artist.append(i.text)
except NoSuchElementException:
    lang.append('$')
print(artist,len(artist))

['Sabrina Carpenter', 'Post Malone Featuring Morgan Wallen', 'Shaboozey', 'Sabrina Carpenter', 'Tommy Richman', 'Kendrick Lamar', 'Hozier', 'Benson Boone', 'Teddy Swims', 'Billie Eilish', 'Zach Bryan', 'Eminem', 'Taylor Swift Featuring Post Malone', 'Future, Metro Boomin & Kendrick Lamar', 'Morgan Wallen Featuring ERNEST', 'Chappell Roan', 'SZA', 'Billie Eilish', 'Ariana Grande', 'Dasha', 'Moneybagg Yo Featuring Morgan Wallen', 'Zach Bryan Featuring Kacey Musgraves', 'Sabrina Carpenter', 'Marshmello & Kane Brown', 'GloRilla & Megan Thee Stallion', 'Jack Harlow', 'Koe Wetzel & Jessie Murph', 'Noah Kahan', 'Central Cee & Lil Baby', 'Jelly Roll', 'FloyyMenor X Cris Mj', 'GloRilla', 'Luke Combs', 'Benson Boone', 'Luke Combs', 'Billie Eilish', 'Djo', 'Sexyy Red', 'Luke Combs', 'Nate Smith', 'Tate McRae', 'Doja Cat', 'Bailey Zimmerman', 'Myles Smith', 'Taylor Swift', 'Artemas', 'Tommy Richman', 'Bryson Tiller', 'Koe Wetzel', 'Gunna', 'Future, Metro Boomin, Travis Scott & Playboi Carti', 'Kendrick Lamar', 'Cody Johnson', 'Chappell Roan', 'Chappell Roan', 'Jessie Murph & Jelly Roll', 'Billie Eilish', 'Don Toliver Featuring Charlie Wilson & Cash Cobain', 'Sexyy Red & Drake', 'Dua Lipa', 'Don Toliver Featuring Kodak Black', 'Tinashe', 'Bryan Martin', 'Taylor Swift', 'Luis R Conriquez x Neton Vega', 'Chris Stapleton', 'Tucker Wetmore', 'Tucker Wetmore', 'Gracie Abrams', 'Billie Eilish', '$uicideboy$', 'Michael Marcagi', 'Don Toliver', 'Ariana Grande', 'Jelly Roll', 'Teddy Swims', 'Beyonce', 'Don Toliver', 'Mark Ambor', 'Ashley Cooke', 'Kehlani', 'Charli XCX', 'Taylor Swift', 'Billie Eilish', 'Thomas Rhett', '$uicideboy$', 'Bakar Featuring Summer Walker', 'Taylor Swift', 'Cardi B', 'Chappell Roan', '$uicideboy$', 'Don Toliver Featuring Travis Scott', 'Kenny Chesney', 'Jason Aldean', 'Luke Combs', 'Morgan Wallen', 'BossMan DLow', 'Don Toliver', '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Dustin Lynch Featuring Jelly Roll'] 100

In [64]:
lrank=[]
try:    
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
    for i in name:
        if i.text is not None:
            lrank.append(i.text)
except NoSuchElementException:
    lang.append('$')
print(lrank,len(lrank))

['2', '1', '4', '3', '5', '6', '7', '11', '10', '9', '12', '8', '13', '15', '17', '21', '16', '14', '18', '19', '-', '24', '22', '28', '20', '26', '29', '27', '23', '-', '31', '32', '30', '36', '-', '25', '34', '33', '58', '37', '38', '40', '46', '45', '44', '42', '-', '48', '35', '39', '43', '47', '56', '67', '68', '55', '41', '-', '53', '59', '-', '69', '62', '54', '57', '50', '63', '78', '49', '51', '-', '65', '-', '64', '52', '94', '74', '-', '76', '87', '84', '73', '72', '66', '96', '-', '83', '80', '75', '-', '-', '-', '71', '-', '-', '95', '88', '-', '82', '-'] 100

In [65]:
prank=[]
try:    
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
    for i in name:
        if i.text is not None:
            prank.append(i.text)
except NoSuchElementException:
    prank.append('$')
print(prank,len(prank))

['1', '1', '3', '3', '2', '1', '1', '2', '1', '9', '6', '2', '1', '1', '15', '16', '6', '5', '1', '19', '21', '1', '21', '21', '11', '1', '27', '9', '18', '30', '27', '28', '23', '34', '35', '12', '11', '20', '39', '37', '3', '7', '32', '41', '3', '12', '47', '19', '35', '26', '2', '3', '53', '54', '55', '35', '17', '58', '44', '43', '61', '62', '61', '2', '53', '49', '63', '68', '49', '22', '71', '54', '38', '16', '48', '76', '1', '78', '74', '80', '81', '73', '9', '25', '85', '86', '53', '10', '9', '90', '91', '92', '71', '94', '95', '24', '49', '98', '1', '100'] 100

In [66]:
wboard=[]
try:    
    name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
    for i in name:
        if i.text is not None:
            wboard.append(i.text)
except NoSuchElementException:
    wboard.append('$')
print(wboard,len(wboard))

['2', '6', '10', '10', '8', '7', '13', '22', '45', '5', '4', '3', '9', '13', '27', '11', '17', '5', '15', '15', '1', '43', '29', '7', '11', '32', '2', '38', '4', '1', '14', '19', '5', '13', '1', '5', '18', '14', '2', '11', '40', '39', '25', '6', '9', '13', '1', '18', '5', '6', '13', '8', '9', '3', '3', '37', '5', '2', '4', '10', '1', '3', '11', '9', '7', '7', '12', '13', '2', '5', '1', '18', '17', '7', '11', '3', '19', '1', '8', '4', '4', '2', '9', '5', '2', '1', '11', '9', '14', '1', '1', '1', '6', '2', '1', '20', '20', '1', '19', '1'] 100

In [67]:
df=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':lrank,'Peak Rank':prank,'Weeks on Board':wboard})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Please Please Please,Sabrina Carpenter,2,1,2
1,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,6
2,A Bar Song (Tipsy),Shaboozey,4,3,10
3,Espresso,Sabrina Carpenter,3,3,10
4,Million Dollar Baby,Tommy Richman,5,2,8
...,...,...,...,...,...
95,Spin You Around (1/24),Morgan Wallen,95,24,20
96,Get In With Me,BossMan DLow,88,49,20
97,Kryptonite,Don Toliver,-,98,1
98,Carnival,¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...,82,1,19
99,Chevrolet,Dustin Lynch Featuring Jelly Roll,-,100,1

In [ ]:
# Q6. Scrape the details of Highest selling novels.
# A) Book name
# B) Author name
# C) Volumes sold
# D) Publisher
# E) Genre
# Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [68]:
driver=webdriver.Chrome()

In [69]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [72]:
rank=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[1]')
    for i in name:
        if i.text is not None:
            rank.append(i.text)
except NoSuchElementException:
    rank.append('$')
print(rank,len(rank))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100'] 100

In [73]:
book=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
    for i in name:
        if i.text is not None:
            book.append(i.text)
except NoSuchElementException:
    book.append('$')
print(book,len(book))

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"] 100

In [74]:
author=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
    for i in name:
        if i.text is not None:
            author.append(i.text)
except NoSuchElementException:
    author.append('$')
print(author,len(author))

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie'] 100

In [75]:
volume=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
    for i in name:
        if i.text is not None:
            volume.append(i.text)
except NoSuchElementException:
    volume.append('$')
print(volume,len(volume))

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095'] 100

In [76]:
publish=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
    for i in name:
        if i.text is not None:
            publish.append(i.text)
except NoSuchElementException:
    publish.append('$')
print(publish,len(publish))

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin'] 100

In [77]:
genre=[]
try:    
    name=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
    for i in name:
        if i.text is not None:
            genre.append(i.text)
except NoSuchElementException:
    genre.append('$')
print(genre,len(genre))

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General'] 100

In [78]:
df=pd.DataFrame({'Rank':rank,'Book Name':book,'Author':author,'Volume Sales':volume,'Publisher':publish,'Genre':genre})
df

,Rank,Book Name,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
# Error showing in this question URL


# Q7. Scrape the details most watched tv series of all time from imdb.com.
# Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
# A) Name
# B) Year span
# C) Genre
# D) Run time
# E) Ratings
# F) Votes

In [ ]:
# Q8. Details of Datasets from UCI machine learning repositories.
# Url = https://archive.ics.uci.edu/ You have to find the following details:
# A) Dataset name
# B) Data type
# C) Task
# D) Attribute type
# E) No of instances
# F) No of attribute G) Year
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [109]:
driver=webdriver.Chrome()

In [110]:
driver.get("https://archive.ics.uci.edu/")

In [111]:
search_1 = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search_1.click()

In [112]:
import time
url=[]
start=0
end=10
for k in range(start,end):
    u= driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in u:
        url.append(i.get_attribute('href'))
    search = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    search.click()  
    time.sleep(2)
url

['https://archive.ics.uci.edu/dataset/53/iris',
 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset',
 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik',
 'https://archive.ics.uci.edu/dataset/850/raisin',
 'https://archive.ics.uci.edu/dataset/2/adult',
 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic',
 'https://archive.ics.uci.edu/dataset/109/wine',
 'https://archive.ics.uci.edu/dataset/186/wine+quality',
 'https://archive.ics.uci.edu/dataset/222/bank+marketing',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/320/student+performance',
 'https://archive.ics.uci.edu/dataset/1/abalone',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/352/online+retail',
 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data',
 'https://archive.ics.uci.edu/dataset/10/automobile',
 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success',
 'https://archive.ics.uci.edu/dataset/20/census+income',
 'https://archive.ics.uci.edu/dataset/34/diabetes',
 'https://archive.ics.uci.edu/dataset/19/car+evaluation',
 'https://archive.ics.uci.edu/dataset/320/student+performance',
 'https://archive.ics.uci.edu/dataset/1/abalone',
 'https://archive.ics.uci.edu/dataset/73/mushroom',
 'https://archive.ics.uci.edu/dataset/352/online+retail',
 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data',
 'https://archive.ics.uci.edu/dataset/10/automobile',
 'https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success',
 'https://archive.ics.uci.edu/dataset/20/census+income',
 'https://archive.ics.uci.edu/dataset/502/online+retail+ii',
 'https://archive.ics.uci.edu/dataset/228/sms+spam+collection',
 'https://archive.ics.uci.edu/dataset/102/thyroid+disease',
 'https://archive.ics.uci.edu/dataset/544/estimation+of+obesity+levels+based+on+eating+habits+and+physical+condition',
 'https://archive.ics.uci.edu/dataset/80/optical+recognition+of+handwritten+digits',
 'https://archive.ics.uci.edu/dataset/235/individual+household+electric+power+consumption',
 'https://archive.ics.uci.edu/dataset/159/magic+gamma+telescope',
 'https://archive.ics.uci.edu/dataset/468/online+shoppers+purchasing+intention+dataset',
 'https://archive.ics.uci.edu/dataset/111/zoo',
 'https://archive.ics.uci.edu/dataset/162/forest+fires',
 'https://archive.ics.uci.edu/dataset/519/heart+failure+clinical+records',
 'https://archive.ics.uci.edu/dataset/31/covertype',
 'https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008',
 'https://archive.ics.uci.edu/dataset/891/cdc+diabetes+health+indicators',
 'https://archive.ics.uci.edu/dataset/62/lung+cancer',
 'https://archive.ics.uci.edu/dataset/60/liver+disorders',
 'https://archive.ics.uci.edu/dataset/59/letter+recognition',
 'https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set',
 'https://archive.ics.uci.edu/dataset/52/ionosphere',
 'https://archive.ics.uci.edu/dataset/29/computer+hardware',
 'https://archive.ics.uci.edu/dataset/519/heart+failure+clinical+records',
 'https://archive.ics.uci.edu/dataset/31/covertype',
 'https://archive.ics.uci.edu/dataset/296/diabetes+130-us+hospitals+for+years+1999-2008',
 'https://archive.ics.uci.edu/dataset/891/cdc+diabetes+health+indicators',
 'https://archive.ics.uci.edu/dataset/62/lung+cancer',
 'https://archive.ics.uci.edu/dataset/60/liver+disorders',
 'https://archive.ics.uci.edu/dataset/59/letter+recognition',
 'https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set',
 'https://archive.ics.uci.edu/dataset/52/ionosphere',
 'https://archive.ics.uci.edu/dataset/29/computer+hardware',
 'https://archive.ics.uci.edu/dataset/165/concrete+compressive+strength',
 'https://archive.ics.uci.edu/dataset/174/parkinsons',
 'https://archive.ics.uci.edu/dataset/110/yeast',
 'https://archive.ics.uci.edu/dataset/101/tic+tac+toe+endgame',
 'https://archive.ics.uci.edu/dataset/555/apartment+for+rent+classified',
 'https://archive.ics.uci.edu/dataset/50/image+segmentation',
 'https://archive.ics.uci.edu/dataset/321/electricityloaddiagrams20112014',
 'https://archive.ics.uci.edu/dataset/5/arrhythmia',
 'https://archive.ics.uci.edu/dataset/76/nursery',
 'https://archive.ics.uci.edu/dataset/113/twenty+newsgroups',
 'https://archive.ics.uci.edu/dataset/327/phishing+websites',
 'https://archive.ics.uci.edu/dataset/81/pen+based+recognition+of+handwritten+digits',
 'https://archive.ics.uci.edu/dataset/143/statlog+australian+credit+approval',
 'https://archive.ics.uci.edu/dataset/145/statlog+heart',
 'https://archive.ics.uci.edu/dataset/332/online+news+popularity',
 'https://archive.ics.uci.edu/dataset/121/eeg+database',
 'https://archive.ics.uci.edu/dataset/267/banknote+authentication',
 'https://archive.ics.uci.edu/dataset/374/appliances+energy+prediction',
 'https://archive.ics.uci.edu/dataset/12/balance+scale',
 'https://archive.ics.uci.edu/dataset/16/breast+cancer+wisconsin+prognostic',
 'https://archive.ics.uci.edu/dataset/33/dermatology',
 'https://archive.ics.uci.edu/dataset/856/higher+education+students+performance+evaluation',
 'https://archive.ics.uci.edu/dataset/529/early+stage+diabetes+risk+prediction+dataset',
 'https://archive.ics.uci.edu/dataset/90/soybean+large',
 'https://archive.ics.uci.edu/dataset/183/communities+and+crime',
 'https://archive.ics.uci.edu/dataset/294/combined+cycle+power+plant',
 'https://archive.ics.uci.edu/dataset/597/productivity+prediction+of+garment+employees',
 'https://archive.ics.uci.edu/dataset/936/national+poll+on+healthy+aging+(npha)',
 'https://archive.ics.uci.edu/dataset/462/drug+review+dataset+drugs+com',
 'https://archive.ics.uci.edu/dataset/89/solar+flare',
 'https://archive.ics.uci.edu/dataset/39/ecoli',
 'https://archive.ics.uci.edu/dataset/132/movie',
 'https://archive.ics.uci.edu/dataset/331/sentiment+labelled+sentences',
 'https://archive.ics.uci.edu/dataset/280/higgs',
 'https://archive.ics.uci.edu/dataset/137/reuters+21578+text+categorization+collection',
 'https://archive.ics.uci.edu/dataset/373/drug+consumption+quantified',
 'https://archive.ics.uci.edu/dataset/149/statlog+vehicle+silhouettes',
 'https://archive.ics.uci.edu/dataset/146/statlog+landsat+satellite',
 'https://archive.ics.uci.edu/dataset/125/insurance+company+benchmark+coil+2000',
 'https://archive.ics.uci.edu/dataset/148/statlog+shuttle']

In [113]:
dataset=[]
type=[]
task=[]
att_type=[]
instance=[]
attr_no=[]
year=[]
try:
    for link in url:
        driver.get(link)
        ds=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/div/h1')
        tp=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        tk=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        att_tp=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/h1')
        ins=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        att_no=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        yr=driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        
        try:
            for i in ds:
                if i is not None:
                    dataset.append(i.text)        
        except NoElementFoundException:        
            print("NoElementFoundException Error")
            
        try:
            for i in tp:
                if i is not None:
                    type.append(i.text)
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        try:
            for i in tk:
                if i is not None:
                    task.append(i.text)
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        try:
            for i in att_tp:
                if i is not None:
                    att_type.append(i.text)        
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        try:
            for i in ins:
                if i is not None:
                    instance.append(i.text)
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        try:
            for i in att_no:
                if i is not None:
                    attr_no.append(i.text)
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        try:
            for i in yr:
                if i is not None:
                    year.append(i.text) 
        except NoElementFoundException:        
            print("NoElementFoundException Error")
        
except ElementClickInterceptedException:
    print("ElementClickInterceptedException Error")
    
print(dataset,len(dataset)) 
print("------------------")
print(type,len(type)) 
print("------------------")
print(task,len(task)) 
print("------------------")
print(att_type,len(task)) 
print("------------------")
print(instance,len(instance)) 
print("------------------")
print(attr_no,len(attr_no)) 
print("------------------")
print(year,len(year))

['Iris', 'Dry Bean', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Raisin', 'Adult', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Bank Marketing', 'Diabetes', 'Car Evaluation', 'Student Performance', 'Abalone', 'Mushroom', 'Online Retail', 'Statlog (German Credit Data)', 'Automobile', "Predict Students' Dropout and Academic Success", 'Census Income', 'Diabetes', 'Car Evaluation', 'Student Performance', 'Abalone', 'Mushroom', 'Online Retail', 'Statlog (German Credit Data)', 'Automobile', "Predict Students' Dropout and Academic Success", 'Census Income', 'Online Retail II', 'SMS Spam Collection', 'Thyroid Disease', 'Estimation of Obesity Levels Based On Eating Habits and Physical Condition', 'Optical Recognition of Handwritten Digits', 'Individual Household Electric Power Consumption', 'MAGIC Gamma Telescope', 'Online Shoppers Purchasing Intention Dataset', 'Zoo', 'Forest Fires', 'Heart Failure Clinical Records', 'Covertype', 'Diabetes 130-US Hospitals for Years 1999-2008', 'CDC Diabetes Health Indicators', 'Lung Cancer', 'Liver Disorders', 'Letter Recognition', 'Real Estate Valuation', 'Ionosphere', 'Computer Hardware', 'Heart Failure Clinical Records', 'Covertype', 'Diabetes 130-US Hospitals for Years 1999-2008', 'CDC Diabetes Health Indicators', 'Lung Cancer', 'Liver Disorders', 'Letter Recognition', 'Real Estate Valuation', 'Ionosphere', 'Computer Hardware', 'Concrete Compressive Strength', 'Parkinsons', 'Yeast', 'Tic-Tac-Toe Endgame', 'Apartment for Rent Classified', 'Image Segmentation', 'ElectricityLoadDiagrams20112014', 'Arrhythmia', 'Nursery', 'Twenty Newsgroups', 'Phishing Websites', 'Pen-Based Recognition of Handwritten Digits', 'Statlog (Australian Credit Approval)', 'Statlog (Heart)', 'Online News Popularity', 'EEG Database', 'Banknote Authentication', 'Appliances Energy Prediction', 'Balance Scale', 'Breast Cancer Wisconsin (Prognostic)', 'Dermatology', 'Higher Education Students Performance Evaluation', 'Early Stage Diabetes Risk Prediction', 'Soybean (Large)', 'Communities and Crime', 'Combined Cycle Power Plant', 'Productivity Prediction of Garment Employees', 'National Poll on Healthy Aging (NPHA)', 'Drug Reviews (Drugs.com)', 'Solar Flare', 'Movie', 'Sentiment Labelled Sentences', 'HIGGS', 'Reuters-21578 Text Categorization Collection', 'Drug Consumption (Quantified)', 'Statlog (Vehicle Silhouettes)', 'Statlog (Landsat Satellite)', 'Insurance Company Benchmark (COIL 2000)', 'Statlog (Shuttle)'] 99
------------------
['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Real, Integer', 'Categorical, Integer', 'Real', 'Integer, Real', 'Real', 'Categorical, Integer', 'Categorical, Integer', 'Categorical', 'Integer', 'Categorical, Integer, Real', 'Categorical', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer, Real', 'Real, Categorical, Integer', 'Categorical, Integer', 'Categorical, Integer', 'Categorical', 'Integer', 'Categorical, Integer, Real', 'Categorical', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer, Real', 'Real, Categorical, Integer', 'Categorical, Integer', 'Integer, Real', 'Real', 'Categorical, Real', 'Integer', 'Integer', 'Real', 'Real', 'Integer, Real', 'Categorical, Integer', 'Real', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Categorical, Integer', 'Integer', 'Categorical, Integer, Real', 'Integer', 'Integer, Real', 'Integer, Real', 'Integer', 'Integer, Real', 'Categorical, Integer', 'Categorical, Integer', 'Categorical, Integer', 'Integer', 'Categorical, Integer, Real', 'Integer', 'Integer, Real', 'Integer, Real', 'Integer', 'Real', 'Real', 'Real', 'Categorical', 'Categorical, Integer', 'Real', 'Real', 'Categorical, Integer, Real', 'Categorical', '-', 'Integer', 'Integer', 'Categorical, Integer, Real', 'Categorical, Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Real', 'Categorical', 'Real', 'Categorical, Integer', 'Integer', 'Categorical, Integer', 'Categorical', 'Real', 'Real', 'Integer, Real', 'Categorical', 'Integer', 'Categorical', 'Real', '-', '-', 'Real', 'Categorical', 'Real', 'Integer', 'Integer', 'Categorical, Integer', 'Integer'] 100
------------------
['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification', 'Classification, Clustering', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification, Regression, Clustering', 'Classification, Clustering', 'Classification', 'Classification, Regression, Clustering', 'Classification', 'Regression, Clustering', 'Classification', 'Classification, Clustering', 'Classification', 'Regression', 'Classification, Regression, Clustering', 'Classification', 'Classification, Clustering', 'Classification', 'Classification', 'Regression', 'Classification', 'Regression', 'Classification', 'Regression', 'Classification, Regression, Clustering', 'Classification', 'Classification, Clustering', 'Classification', 'Classification', 'Regression', 'Classification', 'Regression', 'Classification', 'Regression', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification, Regression, Clustering', 'Classification', 'Regression, Clustering', 'Classification', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Regression', 'Classification', 'Classification, Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Regression', 'Regression', 'Classification, Regression', 'Classification', 'Classification, Regression, Clustering', 'Regression', 'Classification', '-', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Regression, Description', 'Classification'] 100
------------------
['Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics', 'Dataset Characteristics'] 100
------------------
['150', '13611', '303', '3810', '900', '48842', '569', '178', '4898', '45211', '1', '1728', '649', '4177', '8124', '541909', '1000', '205', '4424', '48842', '1', '1728', '649', '4177', '8124', '541909', '1000', '205', '4424', '48842', '1067371', '5574', '7200', '2111', '5620', '2075259', '19020', '12330', '101', '517', '299', '581012', '101766', '253680', '32', '345', '20000', '414', '351', '209', '299', '581012', '101766', '253680', '32', '345', '20000', '414', '351', '209', '1030', '197', '1484', '958', '10000', '2310', '370', '452', '12960', '20000', '11055', '10992', '690', '270', '39797', '122', '1372', '19735', '625', '198', '366', '145', '520', '307', '1994', '9568', '1197', '714', '215063', '1389', '336', '10000', '3000', '11000000', '21578', '1885', '946', '6435', '9000', '58000'] 100
------------------
['4', '16', '13', '7', '7', '14', '30', '13', '11', '16', '20', '6', '30', '8', '22', '6', '20', '25', '36', '14', '20', '6', '30', '8', '22', '6', '20', '25', '36', '14', '-', '-', '5', '16', '64', '9', '10', '17', '16', '12', '12', '54', '47', '21', '56', '5', '16', '6', '34', '10', '12', '54', '47', '21', '56', '5', '16', '6', '34', '10', '8', '22', '8', '9', '21', '19', '140256', '279', '8', '-', '30', '16', '14', '13', '58', '-', '4', '28', '4', '33', '34', '31', '16', '35', '127', '4', '14', '14', '6', '10', '7', '-', '-', '-', '5', '12', '18', '36', '-', '7'] 100
------------------
['Donated on 6/30/1988', 'Donated on 9/13/2020', 'Donated on 6/30/1988', 'Donated on 10/5/2019', 'Donated on 8/13/2023', 'Donated on 4/30/1996', 'Donated on 10/31/1995', 'Donated on 6/30/1991', 'Donated on 10/6/2009', 'Donated on 2/13/2012', 'Donated on 5/31/1997', 'Donated on 11/26/2014', 'Donated on 11/30/1995', 'Donated on 4/26/1987', 'Donated on 11/5/2015', 'Donated on 11/16/1994', 'Donated on 5/18/1987', 'Donated on 12/12/2021', 'Donated on 4/30/1996', 'Donated on 5/31/1997', 'Donated on 11/26/2014', 'Donated on 11/30/1995', 'Donated on 4/26/1987', 'Donated on 11/5/2015', 'Donated on 11/16/1994', 'Donated on 5/18/1987', 'Donated on 12/12/2021', 'Donated on 4/30/1996', 'Donated on 9/20/2019', 'Donated on 6/21/2012', 'Donated on 12/31/1986', 'Donated on 8/26/2019', 'Donated on 6/30/1998', 'Donated on 8/29/2012', 'Donated on 4/30/2007', 'Donated on 8/30/2018', 'Donated on 5/14/1990', 'Donated on 2/28/2008', 'Donated on 2/4/2020', 'Donated on 7/31/1998', 'Donated on 5/2/2014', 'Linked on 9/25/2023', 'Donated on 4/30/1992', 'Donated on 5/14/1990', 'Donated on 12/31/1990', 'Donated on 8/17/2018', 'Donated on 12/31/1988', 'Donated on 9/30/1987', 'Donated on 2/4/2020', 'Donated on 7/31/1998', 'Donated on 5/2/2014', 'Linked on 9/25/2023', 'Donated on 4/30/1992', 'Donated on 5/14/1990', 'Donated on 12/31/1990', 'Donated on 8/17/2018', 'Donated on 12/31/1988', 'Donated on 9/30/1987', 'Donated on 8/2/2007', 'Donated on 6/25/2008', 'Donated on 8/31/1996', 'Donated on 8/18/1991', 'Donated on 12/25/2019', 'Donated on 10/31/1990', 'Donated on 3/12/2015', 'Donated on 12/31/1997', 'Donated on 5/31/1997', 'Donated on 9/8/1999', 'Donated on 3/25/2015', 'Donated on 6/30/1998', 'Donated on 5/30/2015', 'Donated on 10/12/1999', 'Donated on 4/15/2013', 'Donated on 2/14/2017', 'Donated on 4/21/1994', 'Donated on 11/30/1995', 'Donated on 12/31/1997', 'Donated on 8/14/2023', 'Donated on 7/11/2020', 'Donated on 7/10/1988', 'Donated on 7/12/2009', 'Donated on 3/25/2014', 'Donated on 8/2/2020', 'Donated on 12/5/2023', 'Donated on 10/3/2018', 'Donated on 2/28/1989', 'Donated on 8/31/1996', 'Donated on 7/6/1999', 'Donated on 5/29/2015', 'Donated on 2/11/2014', 'Donated on 9/25/1997', 'Donated on 10/16/2016', 'Donated on 2/12/1993', 'Donated on 7/2/2000'] 94

In [116]:
df=pd.DataFrame({'Dataset Name':dataset[:90],'Data Type':type[:90],'Task':task[:90],'Attribute Type':att_type[:90],'Instance Number':instance[:90],
                 'Attribute Number':attr_no[:90],'Year':year[:90]})
df

,Dataset Name,Data Type,Task,Attribute Type,Instance Number,Attribute Number,Year
0,Iris,Real,Classification,Dataset Characteristics,150,4,Donated on 6/30/1988
1,Dry Bean,"Integer, Real",Classification,Dataset Characteristics,13611,16,Donated on 9/13/2020
2,Heart Disease,"Categorical, Integer, Real",Classification,Dataset Characteristics,303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Real,Classification,Dataset Characteristics,3810,7,Donated on 10/5/2019
4,Raisin,"Real, Integer",Classification,Dataset Characteristics,900,7,Donated on 8/13/2023
...,...,...,...,...,...,...,...
85,Combined Cycle Power Plant,Real,Regression,Dataset Characteristics,9568,4,Donated on 2/28/1989
86,Productivity Prediction of Garment Employees,"Integer, Real","Classification, Regression",Dataset Characteristics,1197,14,Donated on 8/31/1996
87,National Poll on Healthy Aging (NPHA),Categorical,Classification,Dataset Characteristics,714,14,Donated on 7/6/1999
88,Drug Reviews (Drugs.com),Integer,"Classification, Regression, Clustering",Dataset Characteristics,215063,6,Donated on 5/29/2015
89,Solar Flare,Categorical,Regression,Dataset Characteristics,1389,10,Donated on 2/11/2014